
    <div class="card shadow p-4 mt-4">
        <h1>$hero.name</h1>
        <p>Age: $hero.getAge()</p>
        <p>Special Power: $hero.getPower()</p>
        <p>Weakness: $hero.getWeakness()</p>
        <a href="/hero/delete/$hero.getId()"><button class="btn btn-dark my-2 my-sm-0">Delete $hero.getName()</button></a>
    </div>